.helper-grid-info {
    background-color: white;
    height: 30px;
}

.helper-grid-info:after {
    content: "< 576px xs";
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .helper-grid-info:after {
        content: "> 576px sm";
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .helper-grid-info:after {
        content: "> 768px md";
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .helper-grid-info:after {
        content: "> 992px lg";
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .helper-grid-info:after {
        content: "> 1200px xl";
    }
}




/* NAVBAR */

#navtext {
    background-color: #2A747A;
    position: fixed;
    color: #A0F3FA;
    z-index: 100;
}


.navbar-brand {
    color: #A0F3FA;
    font-size: 4vh;
   

}

#navtext li a {
    color: #A0F3FA;
    font-weight: bold;
    font-family: 'Amatic SC'; font-size: 4vh;
}

.navbarbuttons {
    display: flex;
    text-align: center;
    color: #A0F3FA;
    border: 1px solid #A0F3FA;
    font-family: 'Amatic SC'; font-size: 2vh;
}


.navbar-toggler-icon {
    margin-top: 1vh;
    color:  #A0F3FA;
    font-size: 2vh;
}




#overview_slider img {
    height: 90vh;
    width: 100%;
    z-index: -1;
}

#overview-a .gradient_uppe {
    position: absolute;
    width: 100%;
    height: 30vh;
    background: linear-gradient(180deg, #2A747A 50%, rgba(189,188,184,0) 100%);
    z-index: 2;
}

#cards .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #2A747A 15%, rgba(189,188,184,0) 100%, #2A747A 10%, rgba(189,188,184,0) 100%);
    z-index: 0;
}

#overview-a .gradient_nere {
    position: absolute;
    margin-top: 60vh;
    width: 100%;
    height: 30vh;
    background: linear-gradient(180deg, rgba(189,188,184,0) 15%, #2A747A 100%, rgba(189,188,184,0) 100%);
    z-index: 6;
}



.carousel-control-prev, .carousel-control-next {
    color:#000;
    z-index: 4
}



/*CARDS */


#cards {
    position: relative;
    z-index: 4;
    padding-top: 10vh;
}

.card-body p {
    color: #4E777A;
    font-weight: bold;
    font-family: 'Amatic SC'; font-size: 2vh;
}

.card-body h5 {
    color: #4E777A;
    font-weight: bold;
    font-family: 'Amatic SC'; font-size: 3vh;
}

.card-img-top {
    object-fit: cover;
    height: 20vh;
    width: 100%;
}

 #cards {
    display: grid;
    margin-bottom: 10vh;
} 


/* FOOTER */

.bottomcontainer {
    position: relative;
    text-align: center;
    height: 10vh;
    width: 100%;

}

.navbarfooter {
    justify-content: center;
}

.navbar a:hover {
    color: #A0F3FA;
}

#footer {
    background-color: #2A747A;
    height: 10vh;
   
}



/* REGISTRATION */

.button {
    display: flex;
    justify-content: center;
    z-index: 20;
}


#registration {
    
    min-height: calc(105vh - 73px - 67px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A0F3FA;
    font-weight: bold;
    font-family: 'Amatic SC'; font-size: 3vh;
    padding: 10%;
    z-index: 20;
    
}

#registration a:hover {
    background-color: #2A747A;
}

.registerform {
    background-color: #2A747A;
    border-radius: 5%;
}


.checkbox {
    display: flex;
    width: 10vh;
}



/* LOGIN */


#login {

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Amatic SC'; 
    padding: 10%;
}


.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #2A747A 15%, rgba(189,188,184,0) 100%, #2A747A 10%, rgba(189,188,184,0) 100%);
    z-index: 0;
}



/* PROFILE */

.row {
 
    display: flex;
    align-items: center;
    justify-content: center;

}


.card-profilecard-img-top {
    object-fit: cover;
    height: 40vh;
    width: 100%;
}